.banner{
     background-color: #F4F4F4;
    min-height: 300px;
}
#info{
	overflow:hidden;
    background-color: #F4F4F4;
	z-index: 10;
	position: absolute;
	text-align: center;
	overflow: auto;
	left: 0;
    top: 215px;
	-webkit-animation: myfirst1 0.5s ease-in-out 0.1s 1 normal; /* Safari 4.0 - 8.0 */
    animation: myfirst1 0.5s ease-in-out 0.1s 1 normal;
}

#info1{
    background-color: #F4F4F4;
	position: absolute;
	left:29%;
	top:100px;
        font-weight: bolder;
	font-size: 16px; 
	font-size: 5vw;
	color: #8B0D32;
	    text-shadow: 2px 2px 3px black;
	z-index: 10;
	-webkit-animation: myfirst 0.5s ease-in-out 0s 1 normal; /* Safari 4.0 - 8.0 */
    animation: myfirst 0.5s ease-in-out 0s 1 normal;
}

#info2{
  background-color: #F4F4F4;
  font-weight: bolder;
  font-size: 2vw;
  color: #8B0D32;
  text-shadow: 2px 2px 3px black;
  z-index: 10;
  -webkit-animation: myfirst 0.5s ease-in-out 0s 1 normal; /* Safari 4.0 - 8.0 */
  animation: myfirst 0.5s ease-in-out 0s 1 normal;
}

#info3{
  overflow:hidden;
  background-color: #F4F4F4;
  z-index: 10;
  position: absolute;
  text-align: center;
  overflow: auto;
  left: 0;
  -webkit-animation: myfirst1 0.5s ease-in-out 0.1s 1 normal; /* Safari 4.0 - 8.0 */
    animation: myfirst1 0.5s ease-in-out 0.1s 1 normal;
}

.Select{
        padding: 10px 80px;
        background-color: #F4F4F4;
}